.bonus-cart {
    display: block;
    margin: 20px auto;
    max-width: 320px !important;
    background: #fff;
    box-shadow: 1px 1px 5px #777;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

.bonus-cart-item {
    display: inline-block;
    width: 33.333%;
    height: 80px;
    text-align: center;
    position: relative;
}


.bonus-cart-item .bg-img {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-repeat: unset;
    background-size: cover;
    border-radius: 50%;
}

.success-color {
    color: green;
    text-align: center;
}

.failed-color {
    color: red;
    text-align: center;
}

.qr-generate-page {
    text-align: center;
}

.barcode-area{
    margin-bottom: 20px;
}

.qr-control-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-btn, .new-qr-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    line-height: 1;
    background: #267d00;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #777;
    margin: 0 5px;
    cursor: pointer;

}

.new-qr-btn {
    width: 190px;
    margin-top: 10px;
    font-size: 14pt;
}

.input-number {
    display: flex;
    width: 80px;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #777;
    text-align: center;
    font-size: 18pt;
}

.text-center{
    text-align: center;
}

.text-green{
    color: #267d00;
}

.font-10{
    font-size: 10pt;
}